# Força a verificação estrita da versão do Node.js especificada no package.json
engine-strict=true

# Salva a versão exata das dependências ao invés de usar ^ ou ~
save-exact=true

# Permite a instalação mesmo com dependências incompatíveis (necessário para alguns pacotes React)
legacy-peer-deps=true

# Desativa a verificação estrita de dependências entre pares
strict-peer-dependencies=false

# Desativa a resolução consistente de dependências entre pares
resolve-consistent-peer-dependencies=false